:root {
    --clr-light-background: rgb(48, 47, 47)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.body {
    display: flex;
    margin-top: 5px;
}

.logo {
    padding: 15px;
    padding-top: 0;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: left;
}

.lsidebar {
    width: 15%;
    min-height: 100vh;
    border-right: 1px solid var(--clr-light-background);
}

.lsidebar-row {
    display: flex;
    padding: 15px;
    color: white;
    font-size: 0.7em;
}

.lsidebar-icons {
    padding: 0;
    padding-right: 25px;
    font-size: 1.3em;
    color: white;
}

.tweet-btn {
    margin: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px 60px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1em;
}

.rsidebar {
    width: 30%;
    min-height: 100vh;
    border-left: 1px solid var(--clr-light-background);
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    border-radius: 40px;
    background-color: var(--clr-light-background);
    color: white;
    width: 85%;
    padding: 10px 20px;
}

.search-icon {
    margin-right: 15px;
    color: gray;
}

.search input {
    background-color: var(--clr-light-background);
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
}

.main-page {
    width: 55%;
    min-height: 100vh;
    color: white;
}

.you-might-know {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    background-color: var(--clr-light-background);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.you-might-know>button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1D9BF0;
    text-align: left;
    margin-top: 15px;
}

.you-might-know h2 {
    color: white;
    margin-bottom: 15px;
}

.you-might-like-row {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.you-might-like-row img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.you-might-like-row h3 {
    font-size: 1em;
}

.you-might-like-row p {
    color: gray;
    font-size: 0.8em;
}

.you-might-like-row button {
    border-radius: 40px;
    padding: 5px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    position: absolute;
    right: 10px;
}

.trends-for-you {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    background-color: var(--clr-light-background);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.trends-for-you h2 {
    color: white;
    margin-bottom: 15px;
}

.trends-for-you>button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1D9BF0;
    text-align: left;
    margin-top: 10px;
}

.trends-for-you-row {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.trends-for-you-row h3 {
    font-size: 1em;
}

.trends-for-you-row p {
    color: gray;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.trends-icon {
    position: absolute;
    right: 10px;
    color: gray;
    cursor: pointer;
}

footer {
    margin-top: 20px;
}

footer p {
    text-align: center;
    font-size: 0.6em;
    color: gray;
}